body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.logo {
	font-size:0px;
	text-indent:-9999px;
	width:200px;
	height:30px;
	background:url('../img/logo.png') no-repeat;
	background-size:100%;
}

/* Main message and sign up button */
.jumbotron {
	margin: 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
	background: url(http://farm9.staticflickr.com/8148/7269286468_a932e1653b_k.jpg) no-repeat center;
	padding-top: 157px;
	color: white;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting content */
.dashboard {
	margin: 60px 0;
}
.dashboard p + h4 {
	margin-top: 28px;
}
.box {
	background-color: #eee;
	padding: 1em;
	border-radius: 1em;
}

.dashboard svg {
  height: 300px;
}
